body{
    margin: 0;
    padding: 0;
background-color: white;
color: black;
margin-bottom: 5%;
}
h1{
    margin: 10px;
}
#courseSearch{
    margin-inline-start: 0%;
}
.cont{
   
    height: 400px;
    width:100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
h5{
    font-size: xx-large;
    font-weight: bold;
}

.scroll{
    width: 100%;
  display: flex;
    text-align: center;
    overflow-y: hidden;
    gap: 20px;
}


.boxes,.box{

    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    gap: 20px;
}
.as{
    color: black;
}
.col{
    height: 280px;
    width: 100%;
    

}
#cont{
    margin-top: 1000px;
}
form{
    background-color: beige;
    border: 1px solid green;
    border-radius: 30px;
    padding: 20px;
    width: 100%;
}
input{
    margin-top: 15px;
    border: 1px solid black ;
    margin-inline-start: 35%;

}
textarea{
    width: 310px;
    border-radius: 30px;
    margin-top: 10px;
    height: 100px;
    margin-inline-start: 35%;
}
#btn{
    background-color: green;
    border-radius: 35px;
    width: auto;
    font-weight: bold;
}
h3{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view{
    color: green;
    position: relative;
    left: 90%;
}
.box{
    height: 300px;
    width: 600px;
    background: linear-gradient(145deg,rgb(112, 239, 112),rgb(47, 197, 47),rgb(3, 92, 3));
    border-radius: 30px;
    box-shadow: 10px 10px rgb(157, 156, 156);
}
.box:hover{
    height: 340px;
    width: 650px;
    background: linear-gradient(145deg,rgb(112, 239, 112),rgb(47, 197, 47),rgb(3, 92, 3));
    border-radius: 30px;
    box-shadow: 10px 10px rgb(157, 156, 156);
}
@media (max-width: 600px) {
    body{
    margin: 0;
    padding: 0;
background-color: white;
}
header,nav{
    padding: 10px;
}
h1{
    margin: 10px;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 440px;
    
    
    gap: 20px;
    
    
}
.col{
    height: 280px;
    width: auto;
    padding: 40px;

}

#cont{
    margin-top: 1000px;
}


form{
    background-color: beige;
    border: 1px solid green;
    border-radius: 30px;
    padding: 20px;
    width: 100%;
}
input{
    margin-top: 15px;
    border: 1px solid black ;
    margin-inline-start: 0%;

}
textarea{
    width: 310px;
    border-radius: 30px;
    margin-top: 10px;
    height: 100px;
    margin-inline-start: 0%;
}
#btn{
    background-color: green;
    border-radius: 35px;
    width: auto;
    font-weight: bold;
}
.boxes,.box{
    height: 380px;
    width: 100%;

}

.scroll{
    width: 100%;
  display: flex;
    text-align: center;
    overflow-y: scroll;
    gap: 20px;
}
    .box{
    height: 350px;
    width: 800px;
    background-color: rgb(252, 252, 252);
    border-radius: 30px;
    box-shadow: 10px 10px rgb(157, 156, 156);
}
.box:hover{
    height: 340px;
    width: 850px;
    background-color: rgb(252, 252, 252);
    border-radius: 30px;
    box-shadow: 10px 10px rgb(157, 156, 156);
}
    
}