body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
text-align:center;
background:#189202;
color:rgb(5, 5, 5);
padding:20px;
height: 150px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    font-size: xx-large;
}
/* .logo img{
    height: 100px;
    width: 100px;
} */

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 75%;
    
    font-weight: bold;
    border-radius: 40px;
    margin-left: 13%;
}
button{
    background-color: transparent;
    color: rgb(12, 12, 12);
    border: none;
    padding: 0px;
     font-size: large;
    font-weight: bold;
}

.container{
width:90%;
margin:auto;
}

section{
margin:40px 0;
}

.card{
background:white;
padding:20px;
margin:15px 0;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.card a{
display:inline-block;
margin-top:10px;
padding:8px 15px;
background:#0b8702;
color:white;
text-decoration:none;
border-radius:5px;
}

/* Dark mode */
.dark{
background:black;
color:white;
}

.dark .card{
background:rgb(26, 26, 26);
}





/* Menu */
.menu{
display:flex;
align-items: center;

list-style:none;
}

.menu li{
margin-left:20px;
}

.menu li a{
color:rgb(9, 9, 9);
text-decoration:none;
}

/* Hamburger */
.hamburger{
    width: fit-content;
    margin-top: -30%;
    font-weight: bold;
display:none;
font-size:28px;
cursor:pointer;
}

/* Mobile */
@media(max-width:760px){

.menu{
display:none;
flex-direction:column;
position:absolute;
top:80px;
left:0;
width:fit-content;
height: 100%;
background:#038b0c;
}


.menu.active{
display:flex;
}

.menu li{
padding:20px;
text-align:center;
border-bottom:1px solid #444;
text-decoration: none;
}

.hamburger{
display:block;
}

}