body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
text-align:center;
background:linear-gradient(45deg,rgb(3, 3, 3),rgb(2, 4, 67));
color:rgb(14, 141, 7);
padding:20px;
height: 200px;
}

.search{
    padding: 30px;
    margin-top: -25px;
}
input{
    padding: 10px;
    width: 300px;
    border-radius: 30px;
    border: none;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    font-size: xx-large;
}
/* .logo img{
    height: 100px;
    width: 100px;
} */

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    margin-top: -15px;
    font-weight: bold;
    border-radius: 40px;
    margin-left: 13%;
}

button{
    background-color: transparent;
    color: rgb(250, 253, 250);
    border: none;
    padding: 0px;
     font-size: large;
    font-weight: bold;
}

.container{
width:90%;
margin:auto;
}

section{
margin:40px 0;
}

.card{
background:white;
padding:20px;
margin:15px 0;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.card a{
display:inline-block;
margin-top:10px;
padding:8px 15px;
background:#0b8702;
color:white;
text-decoration:none;
border-radius:5px;
}

/* Dark mode */
.dark{
background:black;
color:rgb(4, 157, 9);
}

.dark .card{
background:rgb(26, 26, 26);
}


footer{
    background: linear-gradient(45deg,black,rgb(2, 2, 61));
    color: white;
}
.quick,li,a{
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    color: white;
}
h3{
    margin-left: 30px;
    margin-top: 30px;
}
.fot{
    
    width: fit-content;
    margin-left: 35%;
    font-size: larger;
    font-weight: bold;
    padding: 20px;

}
.icons{
    margin-left: 5%;
    margin-top: 30px;
    gap: 30px;
    font-size: xx-large;
}
h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
.about{
    width: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 5%;
}


/* Menu */
.menu{
display:flex;
align-items: center;

list-style:none;
}

.menu li{
margin-left:20px;
}

.menu li a{
color:rgb(251, 254, 251);
text-decoration:none;
}

/* Hamburger */
.hamburger{
    width: fit-content;
    margin-top: -5px;
    font-weight: bold;
    color: white;
display:none;
font-size:28px;
cursor:pointer;
}

/* Mobile */
@media(max-width:760px){

.menu{
display:none;
flex-direction:column;
position:absolute;
top:80px;
left:0;
width:95%;
height: 100%;
background:linear-gradient(45deg,rgb(3, 3, 3),rgb(2, 4, 67));
}

input{
    padding: 10px;
    width: 300px;
    border-radius: 30px;
    border: none;
}
.menu.active{
display:flex;
}

.menu li{
padding:50px;
text-align:center;
justify-content: center;
text-decoration: none;
}


header{
text-align:center;
background:linear-gradient(45deg,rgb(3, 3, 3),rgb(2, 4, 67));
color:rgb(14, 141, 7);
padding:20px;
height: 250px;
}
.start{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 95px;
}
.hamburger{
display:block;
}

footer{
    background: linear-gradient(45deg,black,rgb(2, 2, 61));
    color: white;
}
.quick,li,a{
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    color: white;
}
h3{
    margin-left: 30px;
    margin-top: 30px;
}
.fot{
    
    width: fit-content;
    margin-left: 10%;
    font-size: medium;
    
    padding: 20px;

}
.icons{
    margin-left: 5%;
    margin-top: 30px;
    gap: 30px;
    font-size: xx-large;
    padding-bottom: 30px;
}
h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
.about{
    width: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 5%;
}

}